.navbar > a{
  display: inline-block;
  box-sizing: border-box;
  width: 150px;
  text-align: center;
  padding: 1rem;
  background-color: #282c34;
  color: white;
  font-weight: bold;
}

.navbar > a:hover {
  background-color: #3c4048;
  text-decoration: none;
}