:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: black;
  background-color: white;
}

div {
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.5rem;
}

.dark {
  background-color: #121212;
  color: #e0e0e0;
  transition: background 0.3s ease, color 0.3s ease;
}

#search-input {
  text-align: left;
  display: inline-block;
  box-sizing: border-box;
  width: 150px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

body {
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

h2, h3, h4, h5, h6 {
  font-size: 1.8em;
  line-height: 1.1;
}

p {
  /* margin-top: 0;
  margin-bottom: 1em; */
  font-size: 1.2em;
}

ol, ul, li {
  padding-left: 1.5em;
  font-size: 1.1em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #dddbdb;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffffff;
}

.playlist-list {
  text-align: left;
  border: grey;
  display: inline-block;
  box-shadow: blueviolet;
  border-radius: 12px;
  background-color: #f5f5f5;
  color: black;
}

.playlist-details {
  text-align: left;
  border: grey;
  display: inline-block;
  margin: 1rem 2rem;
  padding: 1rem 2rem;
  box-shadow: blueviolet;
  border-radius: 12px;
  background-color: #f5f5f5;
  color: black;
}

.create-playlist-form {
  color: black;
  text-align: left;
  border: grey;
  display: inline-block;
  margin: 1rem 2rem;
  padding: 1rem 2rem;
  box-shadow: blueviolet;
  border-radius: 12px;
  background-color: #f5f5f5;
}

input, textarea {
  width: 100%;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  font-family: inherit;
}