:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: black;
  background-color: white;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

h2, h3, h4, h5, h6 {
  font-size: 1.8em;
  line-height: 1.1;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
  color: black;;
  font-size: 1.2em;
}

ol, ul, li {
  margin-top: 0;
  margin-bottom: 1em;
  padding-left: 1.5em;
  color: #333333;
  font-size: 1.1em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #dddbdb;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffffff;
}